body{
  overflow-x: hidden
}
/* HEADER ===================*/
header{
  display: none;
}
nav{
  max-width: 80vw;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}
.pipe{
  color: var(--color-ice);
  display: none;
}
/* SECTION ===================*/
.container{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-lemon);
}
#mobile-container{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-lemon);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 4rem;
}
#mobile-container .logo-title{
  display: flex;
  flex-direction: column;
}
#mobile-container .logo-title h3{
  color: var(--color-dark-green);
  font-weight: normal;
  margin-top: .8rem;
}
#mobile-container .buttons{
  width: 100%;
  max-width: 360px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: -8rem;
}
.button{
  width: 48%;
  color: var(--color-ice);
  text-align: center;

  background-color: var(--color-green);
  padding: 1.6rem 2rem;
  border-radius: 0.3rem;
}
.button:hover{
  color: var(--color-ice);
  font-weight: bold;
  background-color: var(--color-light-green)
}
.button-2{
  width: 48%;
  background-color: var(--color-ice);
  opacity: .7;
  text-align: center;
  color: var(--color-darkblue);
  padding: 1.6rem 2rem;
  border-radius: 0.3rem;
}
.button-2:hover{
  opacity: 1;
  color: var(--color-darkblue);
}
#desktop-container{
  display: none;
}
/* FOOTER ===================*/
footer{
  display: none;
}
footer a{
  color: black;
}
/* RESPONSIVE ===================*/
@media(min-width: 900px){
  header{
    display: block;

    padding: 2rem 2rem;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  img{
    overflow: hidden;
  }
  .pipe{
    display: block;
  }
  .container{
    height: auto;
  }
  #desktop-container{
    display: block;

    margin: auto;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
  }
  #desktop-container img{
    margin-top: 5rem;
    max-width: 100vw;
    height: auto;
  }
  #mobile-container{
    display: none;
  }
  footer{
    display: block;
    margin-top: -2rem;
  }
}
